@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia Pro'),
    url('/assets/fonts/sofiapro.woff2') format('woff2'),
    url('/assets/fonts/sofiapro.woff') format('woff');
}
